.face {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border: 5px solid red;
    border-radius: 150px;
    background: Bisque;
}

@keyframes anticlock-wise {
    0% {
        transform: rotate(360deg);
        background: white;
    }
    25% {
        transform: rotate(270deg);
        background: pink;
    }
    50% {
        transform: rotate(180deg);
        background: lightblue;
    }
    75% {
        transform: rotate(90deg);
        background: lightgreen;
    }
    100% {
        transform: rotate(0deg);
        background: pink;
    }
}

@keyframes clock-wise {
    0% {
        transform: rotate(0deg);
        background: white;
    }
    25% {
        transform: rotate(90deg);
        background: pink;
    }
    50% {
        transform: rotate(180deg);
        background: lightblue;
    }
    75% {
        transform: rotate(270deg);
        background: lightgreen;
    }
    100% {
        transform: rotate(360deg);
        background: pink;
    }
}

@keyframes n {
    0% {
        transform: scale(1, 1)
    }
    25% {
        transform: scale(0.5, 0.5)
    }
    50% {
        transform: scale(1, 1)
    }
    75% {
        transform: scale(0.5, 0.5)
    }
    100% {
        transform: scale(1, 1)
    }
}

@keyframes nr {
    0% {
        transform: scale(0.5, 0.5)
    }
    25% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(0.5, 0.5)
    }
    75% {
        transform: scale(1, 1)
    }
    100% {
        transform: scale(0.5, 0.5)
    }
}

.eyel,
.eyer {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 70px;
    border-radius: 12px;
    background: gray;
    transform: rotate(10deg);
    animation: anticlock-wise 5s infinite;
}

.eyel {
    float: left;
}

.eyer {
    float: right;
}

.boll {
    width: 10px;
    height: 10px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background: black;
}

.nl,
.nr {
    width: 10px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    background: gray;
    transition: height 2s;
    animation: n 2s infinite;
}

.nl {
    float: left;
    margin-top: 250px;
    margin-left: 40px;
}

.nr {
    float: right;
    margin-top: 250px;
    margin-right: 40px;
}

div.nl:hover {
    height: 60px;
}

div.nr:hover {
    height: 60px;
}

span:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid #dfdfdf;
    border-right: 5px solid #dfdfdf;
    background: #f8f8f8;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}

.first:hover span {
    display: block;
}

span {
    background: #F8F8F8;
    border: 5px solid #DFDFDF;
    color: red;
    font-size: 13px;
    height: 30px;
    width: px;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left: -30px;
    display: none;
    padding: 0 20px;
}

#k1 {
    margin: 300px 0 20px 500px;
}

#k2 {
    margin: 300px 0 20px 800px;
}

#k3 {
    margin: 500px 0 20px 650px;
}

#k4 {
    margin: 650px 0 25px 650px;
}

.vi {
    border: 0px solid white;
    width: 0px;
    height: 0px;
    margin: 75px 0 0 75px;
    display: inline;
}
