.tag {
    width: 300px;
    height: 20px;
    border: 1px solid white;
    text-align: center;
    color: red;
    background-color: red;
    box-shadow: 0px 0px 0px 4px red, 10px 10px 50px #000;
    margin-top: -116px;
    margin-left: -114px;
    transform: rotate(-50deg);
    color: white;
}
