<!DOCTYPE html>
<html>
<title>menu</title>

<head>
    <link rel="stylesheet" type="text/css" href="modules/menu/css/menu.css">
</head>

<body>
   
    <div class="menu">
        <a onclick="fnshowabout()">about</a>
        <ul>
            <li>
                <a>Text</a><span>&#9660;</span>
                <ul>
                    <li><a onclick="fnshowcolumntext()">columncount-text</a></li>
                    <li><a onclick="fnshowblurtext()">blur-text</a></li>
                    <li><a onclick="fnshowonepara()">one-para</a></li>
                    <li><a onclick="fnshowthreeparas()">three-para</a></li>
                </ul>
            </li>
        </ul>
        <a onclick="fnshowhuman()">humanface</a>
        <ul>
            <li>
                <a href="#">Gallery</a><span>&#9660;</span>
                <ul>
                    <li><a onclick="fnshowhover()">on-hover</a></li>
                    <li><a  onclick="fnshowroundimage()">round-image</a></li>
                    <li><a onclick="fnshowborderimage()">border-image</a></li>
                </ul>
            </li>
        </ul>
        <a onclick="fnshowlist()">list</a>
        <ul>
            <li>
                <a >boxes<span>&#9660;</span></a>
                <ul>
                    <li><a onclick="fnshowthreeboxes()">three-boxes</a></li>
                    <li><a  onclick="fnshowemptybox()">empty-box</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a>shapes</a><span>&#9660;</span>
                <ul>
                    <li><a onclick="fnshowbutton()">button</a></li>
                    <li><a  onclick="fnshowtag()">tag</a></li>
                    <li><a  onclick="fnshowrectangle()">rect-traingle</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>
