<!DOCTYPE html>
<html>
<title>human face</title>

<head>
    <link rel="stylesheet" type="text/css" href="modules/humanface/css/human.css">
</head>

<body>
    <div class="face">
        <div class="first"><span id="k1">left eye</span>
            <div class="eyel">
                <div class="boll"></div>
            </div>
        </div>
        <div class="first"><span id="k2">right eye</span>
            <div class="eyer">
                <div class="boll"></div>
            </div>
        </div>
        <div class="first"><span id="k3">nose</span>
            <div class="nl"></div>
            <div class="nr"></div>
        </div>
        <div class="first vi"><span id="k4">mouth</span>
            <svg height="400" width="450" position=absolute>
                <path d="M 50 70 q 125 150 240 5" stroke="red" stroke-width="5" fill="none"></path>
            </svg>
        </div>
    </div>
    
</body>

</html>
